@media (min-width: 320px) {
  html {
    font-size: 21.33px;
  }
}

@media (min-width: 375px) {
  html {
    font-size: 25px;
  }
}

@media (min-width: 400px) {
  html {
    font-size: 26.67px;
  }
}

@media (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}

@media (min-width: 420px) {
  html {
    font-size: 28px;
  }
}

@media (min-width: 640px) {
  html {
    font-size: 42.67px;
  }
}

@media (min-width: 750px) {
  html {
    font-size: 50px;
  }
}